In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/E_Commerce_Shipping_Pipelines_Project/SRC')
import cleaning_functions as fc

In [3]:
df = pd.read_csv("../data/Train.csv",encoding = "ISO-8859-1")

In [4]:
# First visualization of the dataset

In [5]:
df.head()

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [6]:
df.sample(5)

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
7120,7121,C,Flight,4,4,260,3,low,M,9,4224,0
3993,3994,B,Ship,3,3,221,3,high,M,5,4568,1
3776,3777,A,Ship,4,4,257,10,medium,M,4,4710,0
2344,2345,C,Flight,4,3,210,3,low,F,46,2344,1
3353,3354,F,Ship,4,5,190,3,low,M,2,4554,0

In [7]:
df.shape

(10999, 12)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ï»¿ID                10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [9]:
df.isna().sum() # No NaN values in the dataset

ï»¿ID                  0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [10]:
# After doing the first visualization of the dataset, I have decided to analyze the below hypothesis / questions which I think will be key for the company:
# 1. What is the most effective mode of shipment? Relating mode of shipment column with customer care calls & reached on time columns
# 2. How many loyal customers do we have? Those with 5 or more prior purchases, do they give the company a higher rating? Also, do we offer them more discounts?
# 3. For those products considered with high importance and also the most expensive ones, what is the rating we have from our customers on those?
# 4. Is there a specific warehouse block which is giving us more issues? Relating warehouse_block with reached on time columnn

In [11]:
# 1. What is the most effective mode of shipment? Relating mode of shipment column with customer care calls & reached on time columns

In [12]:
df['Mode_of_Shipment'].value_counts() # Most of the packages are shipped via ship

Ship      7462
Flight    1777
Road      1760
Name: Mode_of_Shipment, dtype: int64

In [13]:
df['Customer_care_calls'].value_counts() # Minimum of calls per shipment is 2 and maximum is 7

4    3557
3    3217
5    2328
6    1013
2     638
7     246
Name: Customer_care_calls, dtype: int64

In [14]:
df['Customer_care_calls'].mean() # Average is 4 calls per shipment

4.054459496317847

In [15]:
df['Reached.on.Time_Y.N'].value_counts() # 60% of the shipments are reached on time

1    6563
0    4436
Name: Reached.on.Time_Y.N, dtype: int64

In [16]:
# 2. How many loyal customers do we have? Those with 5 or more prior purchases, do they give the company a higher rating? Also, do we offer them more discounts?

In [17]:
df['Prior_purchases'].value_counts()

3     3955
2     2599
4     2155
5     1287
6      561
10     178
7      136
8      128
Name: Prior_purchases, dtype: int64

In [18]:
df['Customer_rating'].value_counts()

3    2239
1    2235
4    2189
5    2171
2    2165
Name: Customer_rating, dtype: int64

In [19]:
df['Customer_rating'].mean() # Average rating is 3 over 5 - the company should try to increase that number at least to 3.5

2.9905445949631786

In [20]:
# In order to see the loyalty of a customer, I have established that if the customer has 5 or more prior purchases it is a loyal cusrtomer.
# To make the distinction between the customers I have created a new column in the dataset.

In [21]:
df['Customer_loyalty'] = df['Prior_purchases'].apply(fc.loyal_customer)

In [22]:
df.head()

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Customer_loyalty
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,Not Loyal
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,Not Loyal
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,Not Loyal
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,Not Loyal
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,Not Loyal

In [23]:
# Now to make easier to see if the rating is high or not, I have grouped the customer rating in 2 ranges

In [24]:
df['Customer_rating_range'] = df['Customer_rating'].apply(fc.customer_rating)

In [25]:
df.head()

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Customer_loyalty,Customer_rating_range
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,Not Loyal,Rating 1 - 3
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,Not Loyal,Rating 4 - 5
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,Not Loyal,Rating 1 - 3
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,Not Loyal,Rating 1 - 3
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,Not Loyal,Rating 1 - 3

In [26]:
df['Discount_offered'].unique() # The figures of discounts are all between 0 and 100 so that column represents the discount % offered

array([44, 59, 48, 10, 46, 12,  3, 11, 29, 32,  1, 43, 45,  6, 36, 18, 38,
       51,  2, 28, 24, 31, 61, 22,  4, 62, 16, 56, 15,  9, 40, 37, 41, 17,
       64, 52, 49, 39, 14, 33, 21, 13, 23, 26, 57,  7, 35,  8,  5, 53, 55,
       47, 65, 25, 50, 60, 20, 19, 63, 58, 34, 54, 27, 42, 30])

In [27]:
df['Discount_%_range'] = df['Discount_offered'].apply(fc.percentage_range)

In [28]:
df.head()

,ï»¿ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Customer_loyalty,Customer_rating_range,Discount_%_range
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,Not Loyal,Rating 1 - 3,(41% - 60%)
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,Not Loyal,Rating 4 - 5,(41% - 60%)
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,Not Loyal,Rating 1 - 3,(41% - 60%)
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,Not Loyal,Rating 1 - 3,(0% - 20%)
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,Not Loyal,Rating 1 - 3,(41% - 60%)

In [29]:
# 3. For those products considered with high importance and also the most expensive ones, what is the rating we have from our customers on those? Also, the most important products are those who arrive on time more than the other 2?

In [30]:
df['Product_importance'].value_counts()

low       5297
medium    4754
high       948
Name: Product_importance, dtype: int64

In [31]:
df['Cost_of_the_Product'].unique()

array([177, 216, 183, 176, 184, 162, 250, 233, 150, 164, 189, 232, 198,
       275, 152, 227, 143, 239, 145, 161, 156, 211, 251, 225, 172, 234,
       266, 257, 223, 149, 137, 181, 215, 269, 139, 174, 151, 210, 169,
       160, 190, 141, 165, 170, 203, 246, 238, 193, 221, 179, 105, 261,
       202, 109, 158, 231, 206, 187, 230, 113, 180, 132, 217, 197, 185,
       278, 229, 186, 286, 175, 219, 213, 235, 271, 144, 218, 263, 168,
       265, 205, 252, 222, 220, 147, 200, 224, 247, 280, 157, 207, 237,
       264, 248, 191, 146, 135,  98,  97, 114, 112, 274, 166, 148, 270,
       242, 192, 116, 255, 209, 134, 130, 133, 140, 136, 142, 154, 155,
       127, 129, 159, 294, 226, 258, 241, 208, 182, 115, 212, 171, 249,
       243, 163, 272, 138, 273, 279, 173, 194, 262, 201, 260, 188, 267,
       131, 122, 103, 199, 236, 167, 259, 178, 123, 124,  96, 244, 254,
       128, 204, 245, 228, 268, 108, 276, 214, 281, 253, 104, 240, 121,
       153, 111, 117, 195, 110, 119, 196, 291, 118, 283, 100, 256, 285,
       284, 101, 296, 277, 106, 282, 126, 102, 120,  99, 125, 107, 301,
       290, 310, 308, 300, 303, 306, 292, 293, 295, 304, 298, 305, 287,
       309, 302, 307, 289, 297, 299, 288])

In [32]:
df['Cost_of_the_Product'].min() # Cheapest product is $96

96

In [33]:
df['Cost_of_the_Product'].max() # While the most expensive is $310

310

In [34]:
# 4. Is there a specific warehouse block which is giving us more issues? Relating warehouse_block with reached on time columnn

In [35]:
df['Warehouse_block'].value_counts() # Block F from the warehouse is the one that ships more products (the double than the rest)

F    3666
D    1834
A    1833
B    1833
C    1833
Name: Warehouse_block, dtype: int64

In [36]:
df.to_csv('../data/train_clean.csv')